.build/
.release/
.internal/
src/.assets/
docs/html
*.o
*.ojs
depends

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/